<nav class="clearfix border-bottom border-light-gray" style="display:flex; align-items:center; justify-content:center; flex-wrap:wrap;">
  <a href="{{ site.baseurl | default: '/' }}" class="button py1 button-transparent nav-button caps valign-middle">
    <span class="nav-button valign-middle">{{ site.name }}</span>
  </a>
  <ul class="list-reset m0 nav-collapse" style="display:flex; flex-wrap:wrap; justify-content:center;">
    {% for nav_item in site.nav.main %}
      <li class="inline-block m0">
        <a href="{{ nav_item[1] }}" class="button button-transparent py2 h6 nav-button caps{% if page.nav_item == nav_item[0] %} link-color{% endif %}">{{ nav_item[0] }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
